.submit-landingpage{
  border: 0; 
  background: transparent
}
.container-landingpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  margin: 7px;
}

h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 24px;
  margin: 5px;
}

p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 60px;
}

.buttons {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: white;
  font-size: 24px;
  height: 85px;
  width: 100vw;
  padding-top: 5px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.prompts {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #c5004e;
  height: 60px;
  width: 100vw;
  padding-top: 35px;
}