.card-title{
  font-size: 29px;
  font-family: HelveticaNeue;
  font-weight: bold;
}
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* background-color: #e2e2ff; */
  background-image: linear-gradient(to bottom, #ffffff, #e2e2ff);
  height: 671px;
  width: 100vw;
}

.footer{
  height:96px;
  width: 100vw;
  background-color: #5100b0;
}
.button-nav{
  display: flex;

}
.nav-button{
  background-color: #c5004e;
  margin: 17px;
  height: 31px;
  width: 64px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
