.waitin-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.where-to-meet {
  text-align: center;
  font-size: 24px;
  font-weight: bold;

  font-size: 24px;
}

.waiting-room-image {
  background: url("../../../Assets/Images/bitmap.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 218px;
  height: 255px;
  margin: 0 auto;
}

.want-to-be-notified {
  text-align: center;
  font-size: 16px;
  margin: 76px 40px 15px 40px;
}

.phone-number-text-box {
  width: 207px;
  height: 31px;
  border-radius: 3px;
  border: solid 1px #595a6d;
  background-color: #ffffff;
  margin-top: 24px;
  margin-left: 45px;
  padding-top: 16px;
  padding-left: 14px;
  padding-bottom: 17px;
  padding-right: 58px;
  font-size: 16px;
}

.send-a-text {
  width: 254px;
  height: 14px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-top: 21px;
  margin-left: 50px;
  margin-bottom: 8px;
}

.waiting-page-submit {
  width: 122px;
  height: 35px;
  border-radius: 3px;
  background-color: #c5004e;
  margin-bottom: 56px;
  margin-left: 120px;
  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 41px; */
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}
